<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--add name="strconn_MSSQL" connectionString="Server=DESKTOP-450Q7L0;Database=lotto;Uid=root;Pwd=1234;port=3306;Persist Security Info=True; CharSet=UTF8;" /-->
    <add name="strconn_MYSQL" connectionString="Server=localhost;Database=lotto1_1;Uid=root;Pwd=enter;port=3306;Persist Security Info=True; CharSet=UTF8;" />
    <!--add name="strconn_MSSQL" connectionString="Server=DESKTOP-UEVGDG9;Database=lotto;Uid=root;Pwd=di^0t.=h;port=3306;Persist Security Info=True; CharSet=UTF8;" />
    <add name="strconn_MYSQL" connectionString="Server=192.168.1.222;Database=lotto;Uid=lotto;Pwd=password;port=3306;Persist Security Info=True; CharSet=UTF8;" /-->
	</connectionStrings>
	<appSettings>
		<!--Test-->
		<add key="LineToken" value="OXG6O2sGVUGD3yvsLauwXYXf7o1pI9A4HYBUVxQtjZ0"/>
		<!--add key="LineToken" value="JRixeohIv8qe3YezgFR455fGRMTGzkB0ypQvcXpoxgc" /-->
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>